<head>
    <title>2nd page</title>
</head>
<boby>
    <h1>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h1>
    <h2>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h2>
    <h3>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h3>
    <h4>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h4>
    <h5>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h5>
    <h6>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h6>
    <h1>THIS IS MY FIRST HTML DOCUMENT IN NYC INSTITUTE</h1>



<p>
    <div> View the most active stocks traded during the day sorted on value as well as volumes. You can see all stocks or view all in a particular index.</div> At a single glance, 
    <span>Now you can also view various parameters like last 5 day performance, Gain Percentage, SMA , Deliverables, Volume Also, For better understanding,</span>
    <br> you can sort the list based on prominent features as well.
</p>

</boby>


</html>
